@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #222;
  background-color: #f4f5f5;
  position: relative;
  right: 0;
  margin: 0;
  transition: right 0.35s ease-out;
}

.fa-bars {
  margin-top: 50px;
  position: absolute;
  top: 0px;
  right: 150px;
}

#site-intro {
  height: 100vh;
  width: 100vw;
}

.menu {
  overflow: hidden;
  background-color: white;
  text-align: left;
  width: 200px;
  height: 100%;
  position: fixed;
  right: -200px;
  transition: right 0.35s ease-out;
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc
}

.menu ul {
  list-style: none;
  text-transform: uppercase;
}

.menu li {
  padding: 10px;
}

.menu a {
  text-decoration: none;
  color: #222;
}

.icon-close {
  text-align: center;
  margin-right: 60px;
  padding-top: 46px;
}

#cursor {
  opacity: 0;
}

.scroll {
  text-align: center;
  position: relative;
  height: 100%;
  top: 100%;
}

.scroll i {
  position: absolute; 
  height: 100px;
  margin-top:-350px;
}

#circle {
  vertical-align: bottom;
}

.console {
  font-size: 30px;
}

hr {
  border-color: #222;
}

h1 {
  font-size: 70px;
}

@media (min-width: 992px) {
  h1 {
    margin-top: 120px;
  }
}

/* Featurettes
------------------------- */
.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.featurette-heading {
    font-size: 50px;
  }

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

ul {
  font-size: 25px;
}

.bounce {
  display: inline-block;
  position: relative;
  -moz-animation: bounce 0.6s infinite linear;
  -o-animation: bounce 0.6s infinite linear;
  -webkit-animation: bounce 0.6s infinite linear;
  animation: bounce 0.6s infinite linear;
  colr:000;
}

@-webkit-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-moz-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-o-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-ms-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
