.container {
  font-family: 'Roboto', sans-serif;
}

.navbar {
  margin-top: 20px;
  margin-bottom: 0px;
  border: 20px solid #fff;
}

.navbar a {
  color: #5a5a5a;
  padding: 14px 10px;
  text-decoration: none;
  position: relative;
}

.navbar li {
  display: inline-block;
  font-size: 18px;
}

.jeff:hover {
  color: black;
}

.home:hover {
  color: black;
}

.nav-about:hover {
  color: black;
}

.nav-work:hover {
  color: black;
}

.nav-connect:hover {
  color: black;
}

.jumbotron {
  height: 500px;
  background: #65beb4;
  color: #fff;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top: 100px;
}

.jumbotron h1 {
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
}
.about {
  border-bottom: 1px solid #dbdbdb;
  height: 200px;
}
.portfolio {
  border-bottom: 1px solid #dbdbdb;
  height: 200px;
}

.project-detail {
  background: #65beb4;
  color: #fff;
  position: relative;
}

.flappy-project-detail {
  display: none;
}

.calculator-project-detail {
  display: none;
}

.text-project-detail {
  display: none;
}

.flappy-project {
  opacity: 0.5;
}
.flappy-project:hover {
  opacity: 1;
}

.calculator-project {
  opacity: 0.5;
}

.calculator-project:hover {
  opacity: 1;
}

.text-project {
  opacity: 0.5;
}

.text-project:hover {
  opacity: 1;
}

body {
  position: absolute;
}
